$button-shadow: 0.3rem 0.2rem 1.5rem 0.1rem rgba(27, 75, 140, 0.3); //시작하기 버튼쉐도우~
$select-shadow: 0.7rem 0.6rem 1.5rem 0.1rem rgba(31, 75, 143, 0.3); //선택해야할이유 쉐도우
$price-shadow: 0.3rem 0.5rem 3rem 0.2rem rgba(31, 75, 143, 0.2); //요금안내 쉐도우
$icon-shadow: 0 0.5rem 1rem 0 rgba(0, 56, 132, 0.13); //푸터 아이콘 쉐도우
