// Initial ( 기본 색상 ) --------------------------------------------------------- /
$white: #fff;
$black: #000;
$gray: #666;
// Primary ( 주요 색상 ) --------------------------------------------------------- /
$primaryBlue1: #1274e6; // (기존:#2e79eb)
$primaryBlue2: #2d4381; // 조금더 진한 딥블루
$primaryBlue3: #35446a; // 조금더 진한 딥블루222 이상적.그러나 합리적. 선택이유설명컬러
$primaryBlue4: #2a4477; // 푸터 아이콘 색상
$primaryBlue5: #046cf5; // 밝은 블루 캐러셀색상 (기존:#0083ff)
$primaryBlue6: #2577f4; // cloudiumbox 요금 안내
$primaryBlue7: #257df5; // 푸터 개인정보처리방침 색상
$primaryBlue8: #0778D6; // 활용팁아이콘 색상 (기존:#0079ff)
$primaryBlue9: #111b35; // 섹션 타이틀

// Secondary ( 보조 색상 ) ------------------------------------------------------- /
$secondaryMint1: #80eff8; // cloudiumbox 민트
$secondaryMint2: #07d6e1; // cloudiumbox 민트
$secondaryLightBlue1: #f8faff; // 요금안내 배경색상
$secondaryLightBlue2: #eff5ff; // 푸터 배경색상

// Grayscale & Backgrounds ( 흑백 색상 ) ----------------------------------------- /
$grayscaleGray: #454545; // 요금문의 설명 텍스트