.mainvisual {
  position: relative;

  &__video__container {
    width: 100%;
    position: relative;
    margin-top: 9.7rem;
  }
  &__video {
    outline: none;
    border: none;
    video {
      width: 100%;
    }
  }

  &__text {
    position: relative;
    top: 11rem;
    left: 0;
    word-break: keep-all;
    text-align: center;
    z-index: 5;

    .text__main {
      color: #2e79eb;
      font-family: $font-title;
      font-size: 4rem;
      letter-spacing: -0.3rem;
      line-height: 1.133;

      span {
        color: #111b35;
        font-family: $font-title;
      }
    }
    .text__sub {
      color: #fff;
      margin-top: 2.5rem;
      font-size: 1.5rem;
      color: #2d4381;
      letter-spacing: -0.035rem;
      line-height: 1.7;
      word-break: keep-all;
    }
    .text__startfree {
      position: relative;
      width: 19rem;
      height: 4.7rem;
      margin: 2rem auto 0;
      font-size: 1.4rem;
      padding-left: 2rem;

      display: flex;
      align-items: center;
      border-radius: 50px;
      background-color: #0a54b8;
      color: #fff;
      box-shadow: $button-shadow;

      &__arrow {
        position: absolute;
        display: inline-block;
        background-image: url('../../images/wh_arrow.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 0.8rem;
        height: 1.5rem;
        right: 2rem;
      }
    }
  }
}

// 태블릿 ----------------------- /
@media screen and (min-width: $md-breakpoint) {
  .mainvisual {
    &__video__container {
      margin-top: 11rem;
    }

    &__text {
      top: 13rem;
      .text__main {
        font-size: 4.5rem;
      }
    }
  }
}

@media screen and (max-width: calc($md-breakpoint - 1px)) {
  .mainvisual {
    .inner {
      padding: 0;
    }
  }
}

// PC ----------------------- /

@media screen and (min-width: $lg-breakpoint) {
  .mainvisual {
    overflow: hidden;
    .inner {
      position: relative;
      height: 77rem;
    }
    &__video__container {
      width: 70%;
      max-width: 98rem;
      position: absolute;
      right: -7rem;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0;
    }
    &__video {
      width: 100%;
    }

    &__text {
      position: relative;
      top: 21.5rem;
      left: 0;
      text-align: left;

      .text__main {
        font-size: 6.2rem;

        span {
          font-size: 6.2rem;
        }
      }
      .text__sub {
        margin-top: 5rem;
        font-size: 1.8rem;
      }

      .text__startfree {
        width: 26rem;
        height: 6.5rem;
        font-size: 1.85rem;
        padding: 0 2.7rem 0 4rem;
        margin-top: 4.2rem;
        margin-left: 0;

        &__arrow {
          width: 1.1rem;
          height: 1.9rem;
          right: 2.7rem;
        }
      }
    }
  }
}
