.with-cloudium {
  padding: 4.5rem 0 6.5rem;
  color: #fff;
  background: #0a54b8;

  & .with-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    color: #fff;

    & .up {
      display: flex;
      flex-direction: column;
      align-items: center;

      & h3 {
        font-size: 3rem;
        letter-spacing: -0.3rem;
        text-align: center;

        & span {
          color: #80eff8;
        }
      }
    }
  }
}

.with-txt .up a {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -0.02rem;
}
.with-txt .with__list .with-wrap {
  & em {
    font-size: 1.9rem;
    font-style: inherit;
  }

  & p {
    font-size: 1.3rem;
  }
}
.safe-article {
  padding-bottom: 5rem;
}
.safe-wrap {
  padding: 40px 0;
  position: relative;
  background: #111c45;
  border-radius: 40px;
  font-family: 'Noto Sans KR', sans-serif;

  & .safe-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.3rem;
    color: #fff;
    letter-spacing: -0.7px;
    line-height: 1.29;
  }

  & strong {
    font-weight: 900;
    color: #07d6e1;
    text-align: center;
  }
}

.banner-link {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  min-width: 4.4rem;

  & a {
    width: 40.5%;
    height: 4.5rem;

    & span {
      position: relative;
      display: table;
      width: 100%;
      height: 100%;
      text-align: left;
      & em {
        display: table-cell;
        vertical-align: middle;
        font-weight: 400;
        font-size: 1.3rem;
        letter-spacing: -0.5px;
        padding-right: 3.2rem;
        padding-left: 1.5rem;
        line-height: 1.2;
        font-style: inherit;
      }
      & i {
        position: absolute;
        right: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5rem;
      }
    }
  }

  & a + a {
    margin-left: 1rem;
  }
}
.with__list {
  margin-top: 4rem;
  width: 100%;
  font-size: 1.9rem;
  margin-bottom: 2rem;
  margin-left: 0 2rem;

  & .with-wrap {
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;

    & strong {
      position: relative;
      padding: 0 2rem;
      display: inline-block;
      font-weight: 700;
      text-align: center;
    }
    & em.arrow::before {
      position: absolute;
      width: 1.8rem;
      height: 1.5rem;
      content: '';
      background: url(/img/quotes.png) no-repeat;
      background-size: cover !important;
      top: -1px;
    }
    & em.front::before {
      position: absolute;
      left: 0;
    }

    & em.back::before {
      position: absolute;
      transform: scaleX(-1);
      right: 0;
      top: 3vw;
    }

    & p.txt01 {
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 2rem;
      letter-spacing: -0.025rem;
      color: #fff;
      line-height: 1.81rem;
    }

    & p.txt02 {
      font-size: 1.3rem;
      margin-top: 1.5rem;
      & a {
        opacity: 0.8;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
      }
    }
  }
}

.with {
  width: 100vw;
}

.withImg {
  width: 100vw;
  height: auto;
  & .Imglist {
    padding: 0 1.8rem;
    & .bg {
      & img {
        width: 100%;
        max-width: none;
        display: inline-block;
        height: 100%;
      }
    }
  }
}
// ul.slick-dots {
//   display: flex;

//   & li {
//     width: 0.8rem;
//     height: 0.8rem;
//     border-radius: 50%;
//     background-color: #4da8ff;
//     margin: 0 0.1rem;
//     cursor: pointer;
//   }

//   & .slick-active {
//     width: 0.8rem;
//     height: 0.8rem;
//     background-color: #2577f4;
//   }
// }

@media screen and (min-width: $md-breakpoint) {
  .safe-wrap {
    position: relative;
    padding: 8.2rem 0 6.3rem 8%;

    & .safe-txt {
      align-items: flex-start;
      font-size: 3.6rem;

      & strong {
        text-align: start;
      }
    }
  }
  .with__carousel-box {
    width: 100%;
  }
  .with__list .with-wrap em.back::before {
    top: 0;
  }
  .with-txt .with__list .with-wrap em {
    font-size: 2.9rem;
  }
  .banner-img {
    position: absolute;
    right: 7%;
    bottom: 0;
    text-align: right;
    width: 35%;
    transform: translateX(25px);
    transition: all 1s 0.3s;

    & img {
      width: 100%;
    }
  }
  .banner-link {
    justify-content: flex-start;

    & a {
      width: 30.36%;
      padding: 0 3rem;
      height: 5.4rem;
    }
  }

  .banner-link a span em {
    font-size: 1.6rem;
  }

  .with-cloudium .with-wrap .up h3 {
    font-size: 6rem;
  }
  .with-wrap .up a {
    font-size: 1.6rem;
  }
  .with__list .with-wrap strong,
  .with__list .with-wrap strong em {
    font-size: 2.8rem;
  }

  .with__list .with-wrap p.txt01 {
    font-size: 1.65rem;
  }

  .with-txt .with__list .with-wrap {
    text-align: center;
  }
}
@media screen and (min-width: $lg-breakpoint) {
  .with-cloudium {
    overflow: hidden;
  }
  .withflex {
    display: flex;
    margin-top: 6.5rem;
  }
  .with {
    width: 50vw;
  }

  .withImg {
    width: 50vw;
  }
  .with__list {
    padding: 6% 8% 0 12rem;
    width: 100%;
  }
  .with__list .Imglist p.txt01 {
    text-align: start;
    letter-spacing: -0.25px;
    line-height: 1.81rem;
    margin-top: 4rem;
  }
  .with__list .with-wrap p.txt01 {
    line-height: 3rem;
  }
  .bg {
    width: 80%;
  }
}

@media screen and (min-width: $blg-breakpoint) {
  .bg {
    width: 100%;
  }
  .with-txt .with__list .with-wrap {
    text-align: start;
  }
  .with-cloudium .with-txt .up h3 {
    font-size: 6rem;
  }
  .with-txt .up a {
    font-size: 1.6rem;
  }
  .with__list .with-wrap strong {
    text-align: start;
  }
  .safe-article {
    padding-bottom: 10rem;
  }
}
