.btn-b {
  @include flexbox;
  border-radius: 50px;
  background-color: $primaryBlue1;
  color: $white;
}
.btn-w {
  @include flexbox;
  border: 2px solid $primaryBlue8;
  box-sizing: border-box;
  border-radius: 50px;
  color: $primaryBlue8;
}
