.slider {
    position: relative;
    width: 100%;
  
    &__conts {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
  
      .slider__item {
        display: none;
  
        &.is-active {
          display: block;
        }
  
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  
    &__tabs {
        @include flexbox(around, center);
    }
    &__tab {
        // opacity: 0.5;
        transition: opacity 0.5s ease-in-out;
  
        &.is-active {
        //   opacity: 1;
        z-index: 99;
        }
        &[aria-selected="true"] {
            font-weight: bold;
        }
    }
}